<div>
    <div class="container-fluid" id="skills">
        <ul>
            <li>JAVA</li>
            <li>C,C++</li>
            <li>Spring</li>
            <li>Spring Boot</li>
            <li>Spring-REST</li>
            <li>RESTful Web Services</li>
            <li>Hibernate</li>
            <li>Maven</li>
            <li>Angular</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>Typescript</li>
            <li>Bootstrap</li>
            <li>DBMS</li>
            <li>
                <b>Apps:</b> Postman, Microsoft VSCode, Eclipse, STS, Jenkins, Teamcity
            </li>
            <li>
                <b>Software Packages:</b> MATLAB,VIVADO,VHDL
            </li>
            <li>
                <b>Platforms : </b>Windows, Linux
            </li>
        </ul>
        <h5>Certifications</h5>
        <ul>
            <li>Microsoft Certified: Azure Fundamental(AZ-900) </li>
        </ul>
    </div>
</div>
