<div>
    <div class="container-fluid" id='workex'>
        <div>
            <span>
                <b>Infosys Limited, Hyderabad, India</b>
                <i style="padding-left: 100px;">Jan 2021-Present</i>
            </span>
            <ul>
                <li>
                    High Performer((HPF)) in Infosys training program with 91.2%
                </li>
                <li>
                    Full Stack Developer(MEAN stack) trained in latest Spring and Angular technologies with
                    a solid understanding on JAVA
                </li>
                <li>
                    Working with <a href="https://www.kroger.com/" target="_blank">Kroger</a> on a Java
                    migration project.
                </li>
                <li>
                    Enhancing the app, migrating applications from older technology to newer and fixing the
                    bugs
                </li>
                <li>
                    Worked on code cleanup, batch process testing, converting applications built in Ant technology
                    to an enhanced Maven technology
                </li>
                <li>
                    Familiar with CI/CD deployments and deployment of scripts on linux servers
                </li>
                <li>
                    Have an understanding on Kanban and agile methodologies
                </li>
            </ul>
        </div>
        <div>
            <h4 class="header"><u>Summer Internships</u></h4>
            <ul>
                <li>
                    <span>
                        <b>Centre For Development of Advanced Computing(CDAC), Mumbai</b>
                        <i style="padding-left: 470px;">Jun’19-Jul’19</i>
                    </span>
                    <span>
                        <i>Mentor: Abhishek Gangwar ,Joint Director, CDAC, Juhu, Mumbai</i>
                    </span>
                    <ul>
                        <li>
                            Worked on different Machine Learning projects and trained algorithms to achieve desired
                            accuracy.
                        </li>
                        <li>
                            One of the projects-<b>VIDEO ANALYSIS</b> was to scan people’s faces from the live
                            projection of an IP camera and then run an
                            algorithm to identify them based on the database provided to the system by creating a
                            database and scanning data by
                            separately scanning through the frames of images obtained from the camera.
                        </li>
                        <li>
                            Another project-<b>AGE ESTIMATION</b> was to predict the ages of the people by initially
                            training the system based on relevant
                            data so that we can use it further to identify the teens from adults and hence use it
                            further to restrict child pornography in
                            our country.
                        </li>
                        <li>
                            The third project-<b>FACE ANALYSIS</b> was to remove blurred, blocked and unclear images
                            from a set using Machine Learning
                            algorithm which is further to be implemented in sorting and removing application forms in
                            competitive exams based on
                            visibility of an image which was until now done manually and hence required a lot of
                            manpower.
                        </li>
                    </ul>
                </li>
                <li>
                    <span>
                        <b>Vidharbha Industries Power Limited (VIPL), Nagpur</b>
                        <i style="padding-left: 470px;">May’18-Jun’18</i>
                    </span>
                    <span>
                        <i>Mentor: Ashesh Padhy ,Director ,VIPL ,Nagpur</i>
                    </span>
                    <ul>
                        <li>
                            Detailed description of the running of a power plant via daily field visits.
                        </li>
                        <li>
                            Learned about the different sensors and safety valves installed for
                            the safety of the devices and machines used and the running of the plant through <b>PLAs
                                (Programmable Logic Arrays)</b> and
                            their monitoring through systems
                        </li>
                        <li>
                            Did a project on wireless communication of data from the sensors to the systems nearby to be
                            uploaded to the server
                            so that it can be monitored from anywhere, applicable especially to the systems installed in
                            remote areas where operation
                            and maintenance can be difficult
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>