<div>
    <div class="container-fluid" id="career">
        <div>
            <h4 class="header"><u>Work Projects</u></h4>
            <ul>
                <li>
                    <span>
                        <b>JAVA Migration:</b>
                        <i style="padding-left: 470px;">Jun’21-Present</i>
                    </span>
                    <ul>
                        <li>
                            Part of a team responsible for migration of applications of US retail giant <b>Kroger</b>
                        </li>
                        <li>
                            The legacy applications built using Spring and xml beans are being migrated to JAVA 8 as
                            part of the project.
                        </li>
                        <li>
                            The applications are deployed on <b>Websphere</b> and the build and deployment of apps are
                            done using CI/CD tool <b>TeamCity</b>.
                        </li>
                        <li>
                            I have successfully completed the transition of apps from legacy ant build to <b>Maven</b>.
                        </li>
                        <li>
                            Worked on deployment of batchscripts using cron on <b>Linux</b> server and code cleanups to
                            remove bugs and sync the github code with that of current production versions.
                        </li>
                        <li>
                            The applications are also being moved to <b>Azure</b> as part of hybrid cloud model.
                        </li>
                        <li>
                            Familiar with <b>Kanban</b> which is being used to track the progress of the project on a
                            regular basis.
                        </li>
                    </ul>
                </li>
                <li>
                    <span>
                        <b>My Cart:</b>
                        <i style="padding-left: 520px;">May’21-May’21</i>
                    </span>
                    <ul>
                        <li>
                            Modified a shopping website as part of my training at Infosys.
                        </li>
                        <li>
                            Used Spring boot and Angular 10 to add a component <b>Card</b> designed to enable users to
                            add credit and debit cards which can be used for payment purpose.
                        </li>
                        <li>
                            The front-end of the application was designed using <b>Angular 10</b>. It was designed to
                            consume
                            APIs received from back-end.
                        </li>
                        <li>
                            Reactive forms and functions were used to make the experience smooth helping the customer to
                            add, delete
                            and update cards. The data was synced between both ends of the application and any data
                            altered was being reflected into the database in tandem. Prompts were also used to avoid
                            customers from making errors and avoiding alteration of data due to hasty clicks.
                        </li>
                        <li>
                            Backend of the application was built using <b>Spring-boot</b> wherein separate <b>Spring
                                REST APIs</b> were designed
                            for each operation. All the connections with the database were made in backend.
                        </li>
                        <li>
                            Test cases were also built using <b>JUnit Test</b> and <b>Mockito</b> for verification of
                            backend functionality.
                        </li>
                        <li>
                            CI/CD deployment tool <b>Jenkins</b> was used to build separate pipelines for both backend
                            and frontend part of application to trigger automatic build and deployment.
                        </li>
                        <li>
                            Third party apps like <b>Eclipse, Microsoft VS Code, Postman, and Jenkins</b> were used for
                            designing the
                            website and verifications of functionality. Proper coding norms were followed and checked
                            using <b>PMD</b> tool.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <h4 class="header"><u>Academic Projects</u></h4>
            <ul>
                <li>
                    <span>
                        <b>VSSUT Satellite Launch Vehicle(VSLV):</b>
                        <i style="padding-left: 300px;">Oct’17-Present</i>
                    </span>
                    <ul>
                        <li>
                            Honoured as <b>India’s first indigenously built student rocketry mission</b>, we have made
                            it
                            to the <b>Limca Book Of Records</b> and <b>India Book Of Records</b>.
                        </li>
                        <li>
                            Acknowledged and honoured by
                            <a href="https://www.isro.gov.in/" target="_blank">ISRO (Indian Space Research
                                Organisation)</a>
                            which has led to and <b>MoU</b> between VSSUT
                            and ISRO and the latter setting up the country's first and only Space Innovation Centre.
                        </li>
                        <li>
                            We were awarded a Prize at <b>Aerospace Expo in World Space Week</b> and also won the
                            <b>Champions trophy</b> and the
                            Best Innovation Award of the Asia's 1st Intercollege Rocket Competition,
                            organized by BRICS (Brazil, Russia, China, India, South Africa) & Space Development Nexus.
                        </li>
                        <li>
                            The aim is to launch a cansat over the dam to a height of 40km from where we would be able
                            to measure the siltation
                            levels by image sensing aFnd 3D mapping so that further measures can be taken by the
                            government at the right
                            time. We have done multiple successful launches leading to the same.
                        </li>
                    </ul>
                </li>
                <li>
                    <span>
                        <b>Air Purity Monitoring System(ARIA) :</b>
                        <i style="padding-left: 305px;">Dec’17-Jan’18</i>
                    </span>
                    <ul>
                        <li>
                            Built with an idea <b>‘Breathe safer, Stay safer‘</b>.A <b>low cost air monitoring
                                device</b> to measure impurity levels
                            in the surrounding atmosphere to be established at houses, hospitals, and other public
                            places.
                        </li>
                        <li>
                            A live saving device for the <b>sewers who work in closed drains</b>, and die due to high
                            levels of methane and other
                            poisonous gases, who can be alarmed beforehand in cases of hazard.
                        </li>
                        <li>
                            This idea was socially recognised and also appreciated by
                            <a href="https://en.wikipedia.org/wiki/Anil_Kumar_Gupta" target="_blank">Padma Shri
                                awardee Prof. Anil Kumar Gupta</a>.
                            The prototype has been successfully field-tested.
                        </li>
                    </ul>
                </li>
                <li>
                    <span>
                        <b>Bluetooth Controlled Bot :</b>
                        <i style="padding-left: 380px;">Mar’18-Apr’18</i>
                    </span>
                    <ul>
                        <li>
                            A totally wireless system consisting of a bot controlled by an app which controls the bot
                            through a bluetooth module.
                        </li>
                        <li>
                            The bot was enabled with <b>obstacle detection</b> capability using sensors so it can stop
                            and change the path in case any object comes in its way.
                        </li>
                    </ul>
                </li>
                <li>
                    <span>
                        <b>Soil Moisture Testing Device :</b>
                        <i style="padding-left: 355px;">Apr’18-May’18</i>
                    </span>
                    <ul>
                        <li>
                            To measure the soil moisture using sensor. The device is capable of automatically turning on
                            the water in case the soil
                            moisture turns low and also generates a warning in case the soil moisture is high. It
                            basically ensures the supply of right
                            amount of water for the growth of plants.
                        </li>
                        <li>
                            Can be implemented in small-scale in pot plants as well as can be modified for large-scale
                            applictions in large fields to protect crops.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>