<div>
    <div class="card">
        <div class="row ">
            <div class="col-sm-7">
                <div id="photo">
                    <!--<img class="img-responsive" src="assets/img/finaltekri.jpg" width="250px" height="250px">-->
                    <p>My name is Rohit Kumar Tekriwal. I am currently working as a Systems Engineer at
                        <a href="https://www.infosys.com/" target="_blank">Infosys Limited</a>, Hyderabad.
                        I am a Full Stack Developer(MEAN stack) well-versed in Java. I have
                        completed my graduation in Electronics and Telecommunication Engineering from Veer Surendra
                        Sai University of Technology, Burla, India in 2020.
                    </p>

                    <h6>About Me : </h6>
                    <p>
                        I am a graduate, highly enthusiastic and dedicated to learning new technologies. My strengths
                        are my dedication to complete a given task, the patience to find errors and tackle them with
                        utmost ease and perseverance, and the adaptibility to sustain in any environment. I possess both
                        technical as well as management skills and can work in tandem with any team and handle
                        responsibilities entrusted on me.<br><br>

                        I have a keen interest in politics and like to travel and explore as much as possible. I also
                        like to read books in leisure time and learn new things out of my domain.
                        <br><br>
                        Please find my resume <a href="assets/cv_final.pdf" target="_blank">here</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-5 ">
                <div id="info" style="padding-left: 50px;">
                    <div class="card background-info" style="padding: 30px 20px;">
                        <div class="row" style="padding: 0px 40px 10px 40px;">
                            <img class="img-responsive" src="assets/img/finaltekri1.jpg" height="250px">
                        </div>
                        <div class="row in">
                            <span>Rohit Kumar Tekriwal</span>
                        </div>
                        <div class="row in">
                            <span>Systems Engineer</span>
                        </div>
                        <div class="row in">
                            <span><a href="https://www.infosys.com/" target="_blank">Infosys Limited</a></span>
                        </div>
                        <div class="row in">
                            <div>
                                <span><b>Address : </b></span>
                                <span>Natbar Bhawan, </span>
                                <span>Umapada, Jajpur</span>
                                <span style="padding-left:4em"> Road-755019, Odisha, India</span>
                            </div>
                        </div>
                        <div class="row in">
                            <span><b>Contact :</b> +919937496707</span>
                        </div>
                        <!--
                        <div class="">
                            <span style="padding-left:12em">
                                <a href="https://www.linkedin.com/in/rohit-tekriwal/" target="_blank">
                                <img class="img-responsive" src="assets/img/linkedin.png" width="20px" height="20px"></a>
                                </span>
                            <span style="padding-left:1em">
                                <a href="https://twitter.com/RohitTekriwal6" target="_blank">
                                <img class="img-responsive" src="assets/img/twitter.png" width="20px" height="20px"></a>
                            </span>
                            <span style="padding-left:1em">
                                <a href="mailto:rohit.tkrwl@gmail.com" target="_blank">
                                <img class="img-responsive" src="assets/img/mail.png" width="20px" height="20px"></a>
                            </span>
                            <span style="padding-left:1em">
                                <a href="https://github.com/rohittkrwl" target="_blank">
                                <img class="img-responsive" src="assets/img/github.png" width="20px" height="20px"></a>
                            </span>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="background-center">
        <p>My name is Rohit Kumar Tekriwal. I am currently working as a Systems Engineer at Infosys
            Limited, Hyderabad. I am a Full Stack Developer(MEAN stack) well-versed in Java. I have
            completed my graduation in Electronics and Telecommunication Engineering from Veer Surendra
            Sai University of Technology, Burla, India in 2020.</p>
    </div>
    -->
</div>